
.feedback-form-container {
    max-width: 400px;
    margin: 100px auto;
    height:90%;
    padding: 20px 20px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7);

  }

  .feedback-form-container label {
    display: block;
    margin-bottom: 30px;
  }
  
  .feedback-form-container input,
  .feedback-form-container textarea {
    width: 90%;
    padding: 10px 10px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .feedback-form-container textarea {
    resize: vertical;
    min-height: 100px;
  }
  

  .feedback-form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .feedback-form-container button:hover {
    background-color: #45a049;
  }
  

  .feedback-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  